@font-face {
    font-family: "Soligant";
    src: url(/fonts/Soligant.otf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Puritan";
    src: url(/fonts/PURI10.TTF) format("truetype");
    font-display: swap;
}

@font-face {
	font-family: 'Limkin';
	src: url('/fonts/TMT-LimkinVF.woff2');
}

@font-face {
	font-family: 'Powerpack';
	src: url('/fonts/TMT-PowerPackVF.woff2');
}

@font-face {
	font-family: 'Decovar';
	src: url('/fonts/DecovarAlpha-VF.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #fff; 
    --accent-color: #9C5DE5;
    --accent-color-2: #ffcef1;
    --statement-font: "Soligant", sans-serif;
    --regular-font: "Puritan", sans-serif;
}

body {
    background: black;
}

main {
    padding: 1rem;
    max-width: 88rem;
    margin: 0 auto;
}

li {
    font-family: var(--regular-font);
    list-style: none;
}

a {
    font-family: var(--regular-font);
    text-decoration: none;
}

h1 {
    font-family: var(--statement-font);
    font-weight: normal;
    color: var(--accent-color);
    margin-bottom: 2rem;
}

h2, h3, h4 {
    font-family: var(--regular-font);
    color: var(--accent-color);
}

p {
    font-family: var(--regular-font);
    color: var(--text-color);
    font-size: clamp(1rem, 2vw + 0.25rem, 1.25rem);
}

/* h1, h2, h3, a, p {
    text-wrap: wrap;
    overflow-wrap: break-word;
} */

@media (width > 45rem){
    main {
        padding: 2rem;
    }
}