---
import Logo from '../components/icons/Logo.astro'
---

<header>
    <nav>
        <a href="/">
        <Logo/>
        </a>
        <ul>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">We love web</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href=/about>About me</a></li>
        </ul>
    </nav>
</header>

<style>

header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(60px);
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: none;
    align-items: center;
    gap: 2rem;
}

a {
    font-family: var(--regular-font);
    color: var(--text-color);
}

@media (width > 32rem){
    header {
        padding: 1rem 2rem;
    }

    nav ul {
        display: flex;
    }
}

</style>