---
import BaseLayout from '../layouts/BaseLayout.astro';
import Artwork from '../components/Artwork.astro';
const allArtworks = await Astro.glob('../pages/artworks/*.md');

allArtworks.sort((a, b) => {
  const dateA = new Date(a.frontmatter.date).getTime();
  const dateB = new Date(b.frontmatter.date).getTime();
  return dateB - dateA; // Descending order
});
---
<BaseLayout>
  <h1>Anne's art gallery</h1>

  <section>
    {allArtworks.length === 0 ? <p>No artworks available.</p> : (
      <ul>{allArtworks.map((artwork) => <Artwork image={artwork.frontmatter.image} h={artwork.frontmatter.h} w={artwork.frontmatter.w} />)}</ul>
    )}
  </section>
</BaseLayout>

<style>

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  gap: 3rem;
}
