---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <h1>My frontend projects</h1>

  <ul>
    <li>
      <a href="https://your-tribe-for-life-profile-card-virid.vercel.app/">Your tribe for life profile card</a>
    </li>
    <li>
      <a href="https://connect-your-tribe-squad-page-j6wz.onrender.com/">Connect your tribe squadpage</a>
    </li>
    <li>
      <a href="https://proof-of-concept-ezyj.onrender.com/">Proof of Concept: DDA</a>
    </li>
    <li>
      <a href="https://pleasurable-ui-p9p8.onrender.com/">Pleasurable UI: Tumi Mundo</a>
    </li>
    <li>
      <a href="https://connect-your-tribe-profile-card-8nf5.onrender.com/">Connect your tribe profile card</a>
    </li>
    <li>
      <a href="https://annevd.github.io/Q42-responsive-interactieve-website/the-sprint-main/public/">Responsive interactieve website: Q42</a>
    </li>
    <li>
      <a href="https://annevd.github.io/fix-the-flow-interactive-website/index.html">Fix-the-flow interactive website: OBA</a>
    </li>
  </ul>
</BaseLayout>